<div class="container-fluid">

    <nav class="navbar fixed-top navbar-expand-lg bg-primary">
        <a class="navbar-brand text-light" href="/">Rei's Political Hub</a>
        <button class="navbar-toggler bg-secondary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/pinned">Pinned Articles</a>
                </li>
                {{#if results}}
                <li class="nav-item">
                    <button class="btn btn-danger scrape" data-toggle="modal" data-target="#scrapeModal">Get Political News</button>
                </li>
                {{/if}}
            </ul>

        </div>
    </nav>
</div>
<br>
<br>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 text-center">Welcome to Rei's Political Hub</h1>
        <p class="lead text-center">Scrape Political News for articles, pin and comment on your favorites.</p>
        {{#unless results}}
        <button class="btn btn-danger scrape d-flex mx-auto" data-toggle="modal" data-target="#scrapeModal">Get Political News!</button>
        {{/unless}}
    </div>
</div>

<div class="container">

    {{#each results}}
    <div class="card d-flex flex-column mt-4">
        <div class="card-header bg-danger text-light">{{title}}</div>
        <div class="card-body">
            <p class="text-light">{{desc}}</p>
            <a class="text-warning" target="_BLANK" href={{link}}>{{link}}</a>
        </div>
        <div class="card-footer d-flex justify-content-end">
            {{#unless pinned}}
            <button class="btn btn-danger mx-1 pin" data-pinned="false" data-articleId="{{_id}}">
                <i class="fas fa-thumbtack text-light" data-articleId="{{_id}}"></i>
            </button>
            {{/unless}} {{#if pinned}}
            <button class="btn btn-danger mx-1 pin" data-pinned="true" data-articleId="{{_id}}">
                <i class="fas fa-times text-light" data-pinned="true" data-articleId="{{_id}}"></i>
            </button>
            {{/if}}
            <button class="btn btn-danger mx-1" type="button" data-toggle="collapse" data-target="#commentDrawer-{{_id}}" aria-expanded="false"
                aria-controls="commentDrawer-{{_id}}">
                Comments ({{comments.length}})
            </button>
        </div>
    </div>
    <div class="collapse" id="commentDrawer-{{_id}}">
        <div class="card">
            {{#each comments}}
            <div class="card-body d-flex flex-column">
                {{body}}
            </div>
            <div class="card-footer">
                <small class="text-muted">By: {{author}}</small>
            </div>
            {{/each}}
            <div class="card-footer">
                <form>
                    <div class="form-group">
                        <label for="noteField-{{_id}}">Comment:</label>
                        <textarea class="form-control" id="noteField-{{_id}}" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="authorField-{{_id}}">Enter your name:</label>
                        <input type="text" class="form-control" id="authorField-{{_id}}"></input>
                    </div>
                    <button class="btn btn-danger d-flex mx-auto replyBtn" data-articleId="{{_id}}">Submit</button>
                </form>
                <button class="btn btn-light d-flex ml-auto mt-1" data-toggle="collapse" data-target="#commentDrawer-{{_id}}">
                    <i class="fas fa-times text-dark"></i>
                </button>
            </div>
        </div>
    </div>
    {{/each}}

    <!-- Modal -->
    <div class="modal fade" id="scrapeModal" tabindex="-1" role="dialog" aria-labelledby="scrapeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrapeModalLabel">Scrape results:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Scraping Politics Scrapper...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>